					<h1>Editar Clientes</h1>
					<form action="" class="form">
					      <label for="nome">Nome: </label><input type="text" name = "nome" id = "nome" class="form-control">
					      <label for="cpf">CPF: </label><input type="text" name = "cpf" id = "cpf" class="form-control">
					      <label for="endereco">Endereço: </label><input type="text" name = "endereco" id = "endereco" class="form-control">
					      <br />
					      <input type="submit" class = "btn btn-info" name = "Enviar" value="Enviar" />
						  <input type="reset" class = "btn btn-info" value = "Limpar" />
					</form>
