.form-control{
	border: solid 1px royalblue;
}
@font-face {
  font-family: 'nanuvem';
  src: url('nanuvem.ttf');
  font-weight: normal;
  font-style: normal;
}
.nanuvem-logo:before{
	font-family: 'nanuvem';
	content: 'naNuvem';	
	font-style: normal;
	font-weight: normal;
	letter-spacing: 3px;
	margin-right: 0.6em;
}

body{
	background-color: skyblue;
}

h1, h2, h3{
	color: royalblue;;
}

#cabecario{
	padding: 20px 0 20px 0;
	background-image:url(../img/banner.png);
	background-repeat:no-repeat;
	background-size: cover;
	background-color:#32a3cb;
	padding-top:20px;
	padding-bottom:20px;
}
#cabecario h1{
	color: black !important;
	display: block;
	margin-top: -100px;
	height: 230px;
}
#cabecario h2{
	color: black !important;
	display: block;
}
#cabecario .nanuvem-logo{	
	display: block;
	width: 400px;
	border-radius: 5px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 1em;
	text-shadow: 5px 5px 10px #fff;
	background-image: url("../img/bg-logo.png");
	background-repeat: no-repeat;
	background-size: 86%;
	background-position: 30px -2px;
	line-height: 253px;
}
#cabecario input{
	border-radius: 3px;
}
#cabecario .btn{
	
	color: black !important;
	border-radius: 32px;
}
#cabecario .btn-primary{
	background-color: white;
	margin-right: 20px;
}
#cabecario .btn-success{
	background-color: rgba(255, 255, 255, 0.65);
	border-color: royalblue;
	color: royalblue !important;
}
#cabecario .btn-success:hover{
	background-color: white;
}

#corpo{
}
#corpo>div{
	border-radius: 13px;
	border: solid 1px royalblue;
	background-color: white;
}

#corpo h2{
	margin-bottom: 30px;
	margin-top: 10px;
}

#the-carousel{
	width: 90%;
	margin: auto;
	padding: 20px;
	background-color: #999;
	background-image:url(../img/banner.png);
	background-size: cover;
}
#the-carousel .carousel-control.left, #the-carousel .carousel-control.right{
	color: black;
}
#the-carousel img{
	width: 60%;
	margin: auto;
	display: block;
}

.persona{
	margin-bottom: 20px;
}

#rodape{
	padding: 10px 0 10px 0 ;
}
/* xs */
@media (max-width: 767px) {
	h1{
		font-size: 1.8em;
	}
	h2{
		font-size: 1.5em;
	}
	#cabecario .nanuvem-logo {
		display: block;
		width: 248px;
		border-radius: 5px;
		padding-top: 0px;
		padding-bottom: 5px;
		font-size: 0.6em;
		text-shadow: 5px 5px 10px #fff;
		background-image: url("../img/bg-logo.png");
		background-repeat: no-repeat;
		background-size: 74%;
		background-position: 30px 36px;
		line-height: 251px;
	}
	#cabecario h1 {
		height: 135px;
	}
	#the-carousel{
	width: 100%;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	h1{
		font-size: 2.2em;
	}
	#cabecario .nanuvem-logo {
		display: block;
		width: 349px;
		border-radius: 5px;
		padding-top: 18px;
		padding-bottom: 40px;
		font-size: 1em;
		text-shadow: 5px 5px 10px #fff;
		background-image: url("../img/bg-logo.png");
		background-repeat: no-repeat;
		background-size: 86%;
		background-position: 30px -2px;
		line-height: 253px;
	}
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/* lg */
@media (min-width: 1200px) {
	
}