		@font-face {
		  font-family: 'nanuvem';
		  src: url('nanuvem.ttf');
		  font-weight: normal;
		  font-style: normal;
		}

		.nanuvem-logo:before{
			font-family: 'nanuvem';
			content: 'naNuvem';	
			padding-left: 14px;
			font-style: normal;
			font-weight: normal;
			letter-spacing: 3px;
			margin-right: 0.6em;
		}

		.nanuvem-logo{	
			display: block;
			width: 130px;
			border-radius: 5px;
			padding-top:25px;
			padding-bottom: 30px;
			font-size: 7px;
			text-shadow: 5px 5px 10px #fff;
			background-image: url("../img/bg-logo.png");
			background-repeat: no-repeat;
			background-size: 86%;
			background-position: 0px -4px;
			line-height: 50px;
		}

		.menu {
			border:1px solid #000;
		}		

		#top-logo{
			width: 120px;
			height: 100px;
			margin-left: 60px;
		}

		.left{
			text-align: left;
		}
		
		.right
		{
			text-align: right;
		}

		.top{
			height: 50px;
			padding-top: 20px;
		}

		.footer
		{
			height: 50px;
			margin-top: 10px;
			margin-left: 1px;
			background-color: #38454e;
			padding-top: 10px;
			color:#FFF;
			font-family: 'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
		}

		h1{
			border-bottom: 1px solid black;
		}

		#search{
			padding:1px;
		}

		
		#user_active{
			padding-top: 20px;
		}
		/*.row [class^=col-]{
			border:1px solid black;
			min-height: 150px
		}*/
